* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    overflow: hidden; /* Disable overall page scrolling */
    background-color: black; /* Fallback color */
    color: #fff;
}

header {
    height: 10vh;
    margin-top: 4vh;
    text-align: center;
}

#appName {
    font-size: 7vh;
}

#zipcode::placeholder {
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Adjusted height */
}

.container {
    text-align: center;
    transform: scale(1.15);
}

.heading h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.heading p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.steps .step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 20vw;
}

.steps .step label {
    display: none;
}


.steps .step button:hover {
    background-color: #3399ff;
}

footer {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#creds {
    padding: 1vh;
    font-size: min(2vw, 2vh);
    color: #fff;
}

#logoImage{
    vertical-align: middle;
    padding-bottom: 2px;
    height: 6vh;
    width: 6vh;
    margin: -5px -5px -5px -5px;
}



.steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px; /* Space between each step */
}


#provider-select, #plan-select, #zipcode {
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 10px; /* Space between each form element */
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: left;
}

#match-button {
    padding: 10px;
    width: 100%; /* Full width */
    border: none;
    border-radius: 5px;
    background-color: #1a75ff; /* Default button background color */
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#match-button:hover {
    background-color: black; /* Blue color for hover state */
    border: 1px solid white;
    border-radius: 5px;

}

h2 {
    font-size: .85em; /* Adjust this value as needed */
    color: white; /* This will make the text red */    


}

input::placeholder {
    color: white;
    text-align: center;
}

