* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    font-family: 'Russo One', sans-serif; /* Or 'Arial, sans-serif;' if 'Russo One' isn't being used */
    background-color: black;
    color: #fff;
    overflow: hidden;
}

