* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    overflow: hidden; /* Disable overall page scrolling */
    background-color: black; /* Fallback color */
    color: #fff;
}

header {
    height: 10vh;
    margin-top: 4vh;
    text-align: center;
}

#titleBlock {
    width: 100%;
    background-color: black; /* Or any other color you prefer */
    color: white;
    text-align: center;
    padding: 30px 0; /* Adjust the padding to increase the height of the title block */
    box-sizing: border-box;
}

#appName {
    font-size: 3em; /* Adjust font size as needed */
    margin: 0;
}

#logoImage {
    height: 50px; /* Adjust height as needed */
    width: 50px; /* Adjust width as needed */
    font-size: 1em;
    margin: -7px -7px -7px -7px;
    vertical-align: middle; /* Align the image vertically with the text */
    /* Add other styling as needed */
}

#zipcode::placeholder {
    text-align: left;
}

main {
    display: flex; /* Establishes main as a flex container */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: flex-start; /* Aligns children to the start of the main axis */
    height: calc(100% - 140px); /* Adjusted to account for the header */
    padding-top: 50px; /* Space for the fixed header */
    width: 100%; /* Uses the full width */
    overflow: auto; /* Allows for scrolling if content overflows */
    position: relative; /* Context for absolute positioning */
    background-color: black; /* Maintains the background color */
}

.container {
    text-align: center;
    transform: scale(1.15);
}



.steps .step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 20vw;
}

.steps .step label {
    display: none;
}


.steps .step button:hover {
    background-color: #3399ff;
}

.heading h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.heading p {
    font-size: 1.2em;
    margin-bottom: 2em;
}


footer {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#creds {
    padding: 1vh;
    font-size: min(2vw, 2vh);
    color: #fff;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px; /* Space between each step */
}


#provider-select, #plan-select, #zipcode {
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 10px; /* Space between each form element */
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: left;
}

#match-button {
    padding: 10px;
    width: 100%; /* Full width */
    border: none;
    border-radius: 5px;
    background-color: #1a75ff; /* Default button background color */
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#match-button:hover {
    background-color: black; /* Blue color for hover state */
    border: 1px solid white;
    border-radius: 5px;

}

h2 {
    font-size: .85em; /* Adjust this value as needed */
    color: white; /* This will make the text red */    

}

input::placeholder {
    color: white;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
