<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coverage Compass</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <p id="appName">Coverage C<img id="logoImage" src="../static/logo.png">mpass</p>
        <p>Get Pointed to the Right Healthcare</p>

    </header>
    <main id="main">
        <div class="container">
            <div class="heading">
            </div>
            <div class="steps">
                <div class="step">
                    <select name="providers" id="provider-select">
                        <option value="" disabled selected hidden>Select Your provider</option>
                        <option value="UnitedHealth Group">Blue Cross Blue Shield</option>
                    </select>
                </div>
                <div class="step">
                    <select name="plans" id="plan-select">
                        <option value="" disabled selected hidden>Select Your Plan</option>
                        <option value="HMO">HMO</option>
                        <option value="EPO">EPO</option>
                        <option value="PPO">PPO</option>
                        <option value="POS">POS</option>
                    </select>
                </div>
                <div class="step">
                    <label for="zipcode">Enter Your Zipcode</label>
                    <input type="text" id="zipcode" name="zipcode" placeholder="Enter Zipcode">
                </div>
                <div class="step">
                    <button id="match-button" >Find your coverage</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p id="creds">Created by: Zach S, Sam A, Brendan M, Siggy S</p>
    </footer>
</body>
</html>
