<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesPage2.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
    <title>Split View Map and List</title>
</head>
<body>
    <header>
        <p id="appName">Coverage C<img id="logoImage" src="../static/logo.png">mpass</p>
        <p id="appHeader">Get Pointed to the Right Healthcare</p>
    </header>
    <div id="container">
        <iframe src="../static/coveragemap.html"></iframe>
    </div>
</body>
</html>
