<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesPage2.css">
    <script src="../static/js/script.js"></script>
    <title>Map</title>
</head>
<body>
    <a href="http://127.0.0.1:5000" id="backButton">Back</a>
        <div id="titleBlock">
        <p id="appName">Coverage C<img id="logoImage" src="../static/logo.png" alt="Logo">mpass</p>
        <p>Get Pointed to the Right Healthcare</p>
    </div>
    <iframe src="./static/coveragemap.html"></iframe>
</body>
</html>